dist/

.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

node_modules/
.pnpm-debug.log

dist/
build/
.svelte-kit/
.turbo/
out/
.next/

.env
*.local

config.yaml 

/apps/api/test/jest-e2e.json
/apps/api/tsconfig.build.json

/apps/web/.vercel
/apps/web/.netlify
/apps/web/package/

.npmrc
package-lock.json
yarn.lock